

body {
	position: relative;
}


nav {
	position: fixed;
	top: 6px; right: 4px;
	z-index: 100;
}


h1 {
	color: #fff;
	text-transform: uppercase;
}

.container {
	position: fixed; overflow: hidden;
	top: 0; left: 0; bottom: 0; right: 0;
	margin-bottom: 120px;
	background-image: url(images/langlois.jpg); background-size: cover; position: 50% 50%;
}

.quadrant {
	position: absolute; overflow: hidden;
}

.quadrant > div {
	display: block; position: absolute; opacity: .95;
}

.quadrant > div.nw { background-color: #369; }
.quadrant > div.ne { background-color: #693; }
.quadrant > div.se { background-color: #936; }
.quadrant > div.sw { background-color: #639; }

a.app-title {
	display: block;
	width: 537px; height: 60px;
	background-image: url(images/title.png);
	text-decoration: none; color: inherit;
	text-indent: -10000px;
	outline: none;
}